<?xml version="1.0"?>
<robot name="calibration_pattern" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<material name="black">
		<color rgba="0 0 0 1.0"/>
	</material>
	<material name="white">
		<color rgba="1 1 1 1.0"/>
	</material>

	<!-- Base -->
	<link name="world"/>

	<joint name="chess_base" type="fixed">
		<parent link="world"/>
		<origin xyz="-1.5 0 0.2" rpy=" 3.14159 -1.5709 0"/>
		<child link="chess"/>
	</joint>
	<link name="chess">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
	            <mesh filename="package://kinect_gazebo/meshes/chess_9x11_50x50.dae"/>
			</geometry>
		</visual>
		<inertial>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<mass value="0.1"/>
			<inertia
				ixx="0" ixy="0.0" ixz="0.0"
				iyy="0" iyz="0.0"
				izz="0"/>
		</inertial>
	</link>
</robot>
