<?xml version="1.0"?>
<!-- Revolute-Revolute Manipulator -->
<robot name="kinect" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find kinect_gazebo)/urdf/kinect.gazebo" />

  <!-- Kinect -->
  <link name="camera_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 1.5708"/>
      <geometry>
	    <mesh filename="package://kinect_gazebo/meshes/kinect.dae"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 1.5708"/>
      <geometry>
	    <mesh filename="package://kinect_gazebo/meshes/kinect.dae"/>
      </geometry>
    </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <link name="camera_rgb_frame"/>
  <link name="camera_rgb_optical_frame"/>
  <link name="camera_depth_frame"/>
  <link name="camera_depth_optical_frame"/>

  <joint name="camera_link_to_rgb_frame" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_rgb_frame"/>
    <origin xyz="0 -0.045 0" rpy="0 0 0"/>
  </joint>

  <joint name="camera_rgb_to_optical" type="fixed">
    <parent link="camera_rgb_frame"/>
    <child link="camera_rgb_optical_frame"/>
    <origin xyz="0 0 0" rpy="1.5707963267948966 0 1.5707963267948966"/>
  </joint>

  <joint name="camera_link_to_depth_frame" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_depth_frame"/>
    <origin xyz="0 -0.02 0" rpy="0 0 0"/>
  </joint>

  <joint name="camera_depth_to_optical" type="fixed">
    <parent link="camera_depth_frame"/>
    <child link="camera_depth_optical_frame"/>
    <origin xyz="0 0 0" rpy="1.5707963267948966 0 1.5707963267948966"/>
  </joint>

</robot>
